{% extends "detail.html" %}
{% block title %}{{block.super}} | Count{% endblock %}
{% block navbar-content %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page"><a href="{{ object.get_absolute_url }}">Count</a></li>
{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        {% for field in counter|first|slice:":-1" %}
        <th scope="col">{{ field|title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in counter|slice:"1:" %}
    <tr>
        {% for col in row|slice:":-1" %}
        <th scope="row">{{ col }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}