{% extends "list.html" %}
{% block title %}{{block.super}} | Detail #{{object.pk}}{% endblock %}
{% block navbar-content %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">#{{ object.pk }}</a></li>
{% endblock %}

{% block content %}
<form action="{% url 'swexplorer:count' object.pk %}" method="get">
    {% for field in rows|first %}
    <div class="form-check form-check-inline">

      <input class="form-check-input" type="checkbox" name="fields" id="id_{{field}}" value="{{field}}">
      <label class="form-check-label" for="id_{{field}}">{{field}}</label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Value Count</button>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% for field in rows|first %}
            <th scope="col">{{ field|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows|slice:"1:" %}
        <tr>
            {% for col in row %}
            <th scope="row">{{ col }}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-warning" href="{% url "swexplorer:detail" object.pk %}?page={{page|add:1}}">Next</a>
{% endblock %}