{% extends "base.html" %}
{% block title %}{{block.super}} | List{% endblock %}
{% block navbar-content %}
<li class="breadcrumb-item"><a href="{% url 'swexplorer:list' %}">Collections</a></li>
{% endblock %}

{% block content %}
<form action="{% url 'swexplorer:fetch' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Fetch</button>
</form>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td><a href="{% url 'swexplorer:detail' object.pk %}">{{ object.created }}</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">Empty</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}